@import url(grid/1140.css);
@import url(baseline/typography.css);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
vertical-align:baseline;
margin:0;
padding:0;
}

html {
line-height:1;
-webkit-font-smoothing:antialiased;
background-color:#FFF;
height:100%;
}

ol,ul {
list-style:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

#footer {
margin: 0px auto;
width: 850px;
}    
#footer .social {
padding: 30px 0;
width: 425px;
text-align: center;
}
#footer .copyright {
float: right;
padding: 30px 0;
width: 425px;
text-align: center;
}

#centerimg
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
caption,th,td {
text-align:left;
font-weight:400;
vertical-align:middle;
}

q,blockquote {
quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after {
content:none;
}

a img {
border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
display:block;
}

html,body {
height:100%;
}

#wrapper {
clear:both;
min-height:100%;
height:auto!important;
margin-bottom:-85px;
}

#wrapper #main {
height:85px;
}

#push {
clear:both;
position:relative;
height:85px;
}

body {
color:#a0a0a0;
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-style:normal;
font-weight:500;
font-size:1em;
height:100%;
min-width:700px;
line-height:1.4em;
}

body a {
color:inherit;
outline:none;
text-decoration:none;
border-style:none;
}

body input {
outline:none;
text-decoration:none;
}

body :focus {
outline:none;
}

p {
font-size:1em;
padding-bottom:1em;
}

h1 {
color:#737373;
font-family:futura-pt,sans-serif;
font-style:normal;
font-weight:400;
font-size:2.7em;
line-height:1em;
padding-bottom:.3em;
outline:none;
}

h2 {
color:#737373;
font-family:futura-pt,sans-serif;
font-style:normal;
font-size:1em;
font-weight:700;
line-height:1em;
padding-bottom:.4em;
padding-top:1em;
}

h3 {
color:#737373;
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-style:normal;
font-weight:400;
font-size:1em;
line-height:1em;
padding-bottom:.25em;
}

h4 {
color:#737373;
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-style:normal;
font-size:.85em;
font-weight:700;
}

.l-nav {
list-style-type:none;
margin:0;
}

.l-nav > li {
font-family:futura-pt,sans-serif;
font-size:1em;
font-weight:700;
padding-left:20px;
display:inline;
zoom:1;
}

.l-left {
float:left;
margin-right:20px;
}

.l-footer > li {
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size:.9em;
}

.l-logos {
margin-bottom:20px;
}

.l-logos > li {
display:inline;
zoom:1;
padding-right:7.5%;
vertical-align:middle;
}

.l-benefits > li {
display:inline;
zoom:1;
padding-right:8.5%;
}

.l-benefits > li img {
padding-bottom:10px;
text-align:center;
}

.l-benefits > li p {
font-size:.75em;
line-height:.5em;
text-align:center;
}

.l-quotes > li {
color:#555;
padding-bottom:20px;
}

.l-quotes > li h1 {
color:#555;
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-weight:300;
font-size:2.4em;
}

.l-quotes > li p {
color:#a0a0a0;
}

.l-quotes > li blockquote {
display:block;
float:none;
}

.l-quotes > li blockquote:before {
color:#555;
content:"\201C";
font-size:2.5em;
margin-top:8px;
margin-left:-15px;
}

.l-center {
text-align:center;
}

.l-pad-half {
padding-top:.5em;
}

.l-pad {
padding-top:1em;
}

.l-pad-more {
padding-top:2em;
}

.l-pad-left {
padding-left:1em;
}

.l-pad-right {
padding-right:1em;
}

.l-pad-right-more {
padding-right:2em;
}

.l-pad-left-more {
padding-left:2em;
}

.l-pad-footer {
padding-left:25em;
}

.l-pad-right-less {
padding-right:.45em;
}

.l-fit {
width:80%;
}

.l-space {
margin-bottom:135px;
}

.l-tight {
margin-bottom:-6px;
}

.l-img-align-top {
margin-top:4px;
}

#splash {
float:left;
padding-bottom:300px;
}

.l-title {
margin-left:100px;
position:absolute;
top:110px;
width:500px;
overflow:hidden;
}

.l-title h1 p {
color:#FFF;
font-size:1.3em;
padding:0;
}

i {
font-style:italic;
}

#right {
position:fixed;
top:20%;
left:60%;
}

#nav {
padding-bottom:50px;
padding-top:50px;
text-align:center;
}

#nav img {
padding-bottom:25px;
}

#main {
overflow:auto;
}

#footer {
font-weight:700;
padding-top:20px;
padding-bottom:50px;
}

#footer img {
vertical-align:middle;
}

#landing-footer {
color:#eee;
font-size:.75em;
margin-top:-50px;
margin-left:105px;
position:absolute;
}

#landing-footer li {
padding-left:0;
padding-right:15px;
margin-left:0;
}

#f-left {
font-size:.9em;
min-width:180px;
}

#inner {
padding-bottom:100px;
}

.onespace {
padding-bottom:1em;
}

.l-pad-bottom-more {
padding-bottom:3em;
}

.smallerspace > li {
font-size:.9em;
}

.twospace > li {
line-height:2.9em;
}

.twospace > li img {
vertical-align:middle;
margin-right:1em;
}

.story-links {
border-top:2px solid #cbcbcb;
padding-top:18px;
margin-top:4px;
}

.story-links > li {
font-weight:500;
padding-top:5px;
}

#title {
color:#313131;
display:block;
text-align:left;
padding-top:2em;
margin-left:auto;
margin-right:auto;
width:200px;
}

h1.title {
font-size:2em;
font-weight:700;
padding:0;
}

#landing-container {
margin-top:70px;
display:none;
}

.dialog-w {
position:relative;
text-align:left;
width:640px;
margin:0 auto;
}

#dialog {
display:none;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
-webkit-box-shadow:#4e4e4e 0 0 5px;
-moz-box-shadow:#4e4e4e 0 0 5px;
box-shadow:#4e4e4e 0 0 5px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
opacity:.95;
-webkit-text-size-adjust:none;
background:#f2f2f2;
font-size:1em;
position:fixed;
width:520px;
height:220px;
z-index:9999;
text-align:left;
top:30%;
padding:40px 60px 80px;
}

#dialog input {
color:#a0a0a0;
float:left;
width:366px;
font-size:1.5em;
font-weight:400;
margin-bottom:10px;
padding:0 0 0 20px;
}

#dialog button {
position:absolute;
width:150px;
left:423px;
}

#dialog h1 {
font-size:2.4em;
}

#dialog p {
font-size:1.4em;
font-weight:400;
color:#737373;
line-height:1.2em;
}

#dialogtxt {
width:520px;
height:145px;
}

.tiny {
font-size:.9em!important;
}

.reallysmall {
font-size:.6em!important;
}

.l-middle {
display:inline;
zoom:1;
vertical-align:middle;
}

.l-help p {
padding-bottom:30px;
line-height:1.5em;
}

.l-help ul {
padding-bottom:30px;
}

.l-help #results img {
padding-top:2em;
padding-bottom:2em;
}

.l-help-left {
float:left;
width:45%;
padding-right:5%;
}

.l-help-right {
float:right;
width:45%;
padding-left:5%;
}

#landing-action {
margin-top:260px;
margin-left:100px;
position:absolute;
width:550px;
}

#landing-action h1 {
color:#FFF;
font-size:3.5em;
font-weight:400;
}

#landing-action button {
margin-top:10px;
font-size:2em;
font-weight:300;
letter-spacing:1px;
height:77px;
width:450px;
}

h1.story {
padding-bottom:.5em;
}

.press-links > li h4 {
line-height:1.2em;
}

.press-links > li p {
font-size:.9em;
line-height:1.4em;
}

.icon-fix {
width:29px;
height:29px;
}

.mobile-bg-fix {
width:320px;
height:657px;
}

.shift-1 {
position:relative;
top:.05em;
}

.shift-2 {
position:relative;
top:.1em;
}

.shift-3 {
position:relative;
top:.15em;
}

.shift-4 {
position:relative;
top:-4px;
}

.shift-5 {
position:relative;
top:-2px;
}

.push-down {
margin-top:38px;
}

.help-nav {
padding-bottom:2em;
}

.help-nav > li {
border-bottom:2px solid #aaa;
color:#aaa;
font-family:futura-pt,sans-serif;
font-size:2em;
font-weight:400;
line-height:1.25em;
padding-bottom:10px;
padding-top:10px;
}

.help-nav > li:first-child {
padding-top:0;
}

.search-faq span {
cursor:pointer;
margin-left:1.25em;
}

#accordion .ui-state-inactive {
background-image:url(../images/plus-icon.png);
background-repeat:no-repeat;
background-position:100% 80%;
-webkit-transition-timing-function:ease-in;
-moz-transition-timing-function:ease-in;
-o-transition-timing-function:ease-in;
transition-timing-function:ease-in;
-webkit-transition-duration:.1s;
-moz-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
}

#accordion .ui-state-active {
background-image:url(../images/minus-icon.png);
background-repeat:no-repeat;
background-position:100% 80%;
-webkit-transition-timing-function:ease-in;
-moz-transition-timing-function:ease-in;
-o-transition-timing-function:ease-in;
transition-timing-function:ease-in;
-webkit-transition-duration:.1s;
-moz-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
}

#accordion .bg-reservations.ui-state-active {
background-position:100% 50%!important;
}

#accordion .bg-reservations-child.ui-state-inactive {
background-position:100% 95%;
}

#accordion .bg-reservations-child.ui-state-active {
background-position:100% 85%;
}

.active {
color:#6c6c6c;
}

.help-nav > li.select-active {
color:#525252;
}

.search-faq.select-active {
background:url(../images/search-icon-active.png) no-repeat left center;
color:#525252;
}

.line-separator {
height:2px;
border-bottom:2px solid #a0a0a0;
margin-bottom:1em;
}

.line-separator-lite {
height:2px;
border-bottom:2px solid #a0a0a0;
margin-top:.5em;
margin-bottom:.5em;
}

.snoozes {
background-color:#ffde47;
padding:.75em;
}

.archive {
background-color:#62d962;
padding:.75em;
}

.delete {
background-color:#ef540c;
padding:.75em;
}

.gmail {
background-color:#51b9db;
padding:.75em;
}

.general {
background-color:#d4d8dd;
padding:.75em;
}

.nobg {
background-color:transparent;
}

.snug {
margin-top:-47px;
}

.lite {
border-top:1px solid #9f9f9f;
border-bottom:0 none;
color:#9f9f9f;
height:1px;
}

.disc {
list-style-type:disc;
}

.gradient {
background:#FFF url(../images/content-divider-background.png) repeat-x;
}

.top-bottom-footer {
border-top:1px solid #a2a2a2;
border-bottom:1px solid #a2a2a2;
padding-top:16px;
padding-bottom:14px;
box-shadow:inset 0 1px 0 #e2e2e2,0 1px 0 #e2e2e2;
}

.dim {
display:none;
position:fixed;
top:0;
left:0;
width:120%;
height:100%;
background:silver url(../images/overlay-bg.png) repeat;
z-index:1001;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
opacity:.5;
}

#letterpress h1 {
text-shadow:0 1px 1px #737373;
color:#a0a0a0;
font-size:80px;
}

.a-line a {
border-bottom:1px solid #a0a0a0;
padding-bottom:1px;
}

.a-bold a {
color:#626262;
font-weight:700;
}

.fulltext h2 {
font-size:.95em;
}

.a-italics a {
font-style:italic;
color:#a0a0a0;
font-weight:700;
}

.bold {
color:#737373;
font-weight:700;
}

.normal {
color:#a0a0a0;
font-weight:500;
}

.nicelist > li {
display:list-item;
list-style:disc outside none;
margin-left:2.5em;
padding-left:1em;
}

.help a {
color:#626262;
cursor:pointer;
font-weight:700;
}

.help img {
vertical-align:middle;
padding-right:15px;
}

.search-faq {
background:url(../images/search-icon.png) no-repeat left center;
}

.l-help h1 {
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size:1.4em;
}

.retrieve fieldset {
padding:5em;
}

.retrieve label {
display:inline-block;
width:270px;
}

.retrieve input {
border:.1em solid #aaa;
color:#626262;
font-size:1.25em;
height:2em;
vertical-align:bottom;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:280px;
padding:10px 5px;
}

.retrieve button {
background:#59b8d8;
border:none;
width:120px;
vertical-align:bottom;
height:40px;
margin-top:30px;
}

.retrieve span {
margin-right:30px;
}

.retrieve .info {
height:100px;
}

.small {
font-size:.7em;
margin-top:30px;
}

button {
color:#FFF;
height:50px;
font-size:1.25em;
font-weight:300;
text-decoration:none;
letter-spacing:1px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
cursor:pointer;
}

.action {
background:#59b8d8;
border:none;
width:300px;
}

button.more {
background:#625153;
-webkit-box-shadow:inset 0 0 1px 1px #625153;
-moz-box-shadow:inset 0 0 1px 1px #625153;
box-shadow:inset 0 0 1px 1px #625153;
}

button.help {
display:inline;
zoom:1;
width:80px;
height:60px;
vertical-align:middle;
}

.flat {
border-bottom:none;
box-shadow:none;
}

button.phonehome {
float:left;
color:#FFF;
background:#59b8d8;
border:none;
font-size:1.5em;
font-weight:300;
letter-spacing:1px;
height:52px;
margin-bottom:1em;
-webkit-border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-ms-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border-radius:0 5px 5px 0;
padding:0;
}

.fullwidth {
width:100%;
}

button.reservation {
font-size:1.85em;
font-weight:300;
letter-spacing:1px;
width:416px;
height:74px;
}

.landing-header {
color:#FFF;
font-size:4em;
}

#logo img {
margin-top:50px;
margin-bottom:40px;
}

h1.landing-header {
line-height:1em;
padding:0;
}

input.help {
border:.1em solid #aaa;
color:#626262;
font-size:1.25em;
height:2em;
vertical-align:bottom;
-webkit-border-radius:30px;
-moz-border-radius:30px;
-ms-border-radius:30px;
-o-border-radius:30px;
border-radius:30px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:100%;
background:url(../images/search-input-icon.png) no-repeat 2% center;
padding:10px 50px;
}

.tbdialog {
height:48px;
}

.iphone-phoneno {
-webkit-appearance:none;
}

.ans li {
padding:10px;
}

.mid-container {
text-align:center;
width:1140px;
overflow:hidden;
margin:0 auto;
}

.mid-container h1 {
color:#555;
font-size:3em;
font-weight:400;
padding-bottom:10px;
line-height:1.1em;
}

.mid-container br {
line-height:.5em;
}

.t1 {
margin-top:25%;
}

.t2 {
margin-top:20%;
}

.t3 {
margin-top:15%;
}

.t4 {
margin-top:10%;
}

video#preview {
min-width:1140px;
max-width:100%;
height:auto;
width:100%;
}

#play img {
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
min-width:1140px;
max-width:100%;
height:auto;
width:100%;
}

#preview-video video {
z-index:-999;
}

.col {
padding-top:80px;
padding-bottom:40px;
padding-left:56px;
float:left;
width:492px;
text-align:left;
}

.colr {
padding-top:80px;
padding-bottom:40px;
padding-left:44px;
width:492px;
overflow:hidden;
zoom:1;
text-align:left;
}

#iphone h1 {
font-size:2em;
font-weight:400;
color:#a7a7a7;
padding-bottom:.5em;
}

#iphone p {
color:#a4a4a4;
font-weight:400;
font-size:.9em;
line-height:1.2em;
padding-bottom:1.3em;
padding-left:.75em;
padding-right:.75em;
}

#iphone p.pretty-text {
font-weight:500;
}

#iphone video {
float:left;
min-width:0;
z-index:-1;
width:50px;
height:50px;
}

#iphone input {
color:#222;
height:2em;
margin-bottom:.35em;
text-align:center;
font-size:1.2em;
width:15em;
border:1px solid #D3D3D3;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
background-color:#f9f9f9;
padding:0;
}

#iphone button {
width:90%;
}

#holdvid {
position:absolute;
display:inline-block;
opacity:0;
top:230px;
left:135px;
}

#ipadvid {
position:absolute;
display:inline-block;
opacity:0;
}

.vidframe {
height:640px;
margin-bottom:40px;
overflow:hidden;
}

#vidplaceholder {
position:absolute;
width:1140px;
height:641px;
}

.soon {
background:url(../images/ribbon.png) no-repeat right top;
}

.backsoon {
padding-top:8em;
}

.backsoon h1 {
color:#737373;
font-family:HelveticaNeue-Regular,"Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size:2.5em;
padding-top:1em;
padding-bottom:1.3em;
}

#tumblr {
padding-bottom:20px;
}

#tumblr .title {
color:#626262;
font-size:1.25em;
padding-bottom:1em;
}

#tumblr .post_content {
display:inline-block;
width:500px;
}

#tumblr .cdate {
font-size:.8em;
float:left;
padding-right:30px;
width:130px;
}

#tumblr .post_title img {
margin-bottom:.8em;
}

.post_list > li {
border-bottom:2px solid #d4d8dd;
padding-bottom:1em;
margin-bottom:1em;
}

.post_list > li:last-child {
border-bottom:none;
}

#morepost {
text-decoration:none;
border-bottom:1px solid #d4d8dd;
padding-bottom:3px;
}

.share img {
padding-right:15px;
padding-top:10px;
width:27px;
height:27px;
}

.share-icon {
margin-right:-5px;
}

.m h1 {
font-size:1.8em;
}

.m h2 {
font-size:1em;
}

.m .nicelist > li {
margin-left:1em;
padding-left:.5em;
padding-bottom:.5em;
}

.l-logos > li:last-child,.l-benefits > li:last-child {
padding-right:0;
}

.l-benefits,.l-quotes {
padding-top:10px;
}

.l-skinny,.l-nopad {
padding:0;
}

.l-right,.l-push-right {
float:right;
}

.l-footer-tight footer,.l-jobs {
margin-top:-20px;
}

#iphone,#dialogtxtsuccess,#dialogtxtfail,.meta,#search-helpme,.retrieve #error,.ans {
display:none;
}

.ui-accordion-header,.more {
cursor:pointer;
}

.col h2,.colr h2 {
margin-top:110px;
}

.col img,.colr img {
display:block;
margin-left:auto;
margin-right:auto;
}

@media only screen and min-device-width768px and max-device-width1024px{
html {
min-width:768px;
max-width:1024px;
width:1024px;
}

.mid-container {
width:100%;
padding:0;
}

video#preview {
min-width:0;
max-width:none;
height:570px;
}

#play img {
min-width:none;
}

body {
min-width:0;
}

#vidplaceholder {
width:984px;
height:646px;
}

.l-benefits > li {
padding-right:35px;
}

.l-logos > li {
padding-right:30px;
}

button.phonehome {
height:50px;
}

#landing-action {
margin-left:50px;
}

.col,.colr {
width:42%;
}
}

@media all and min-device-width768px and max-device-width1024px{
.l-title {
top:40px;
}
}

@media all and -webkit-min-device-pixel-ratio15{
.search-faq.select-active {
background:url(../images/search-icon-active@2x.png) no-repeat left center;
color:#525252;
background-size:23px 24px;
}

.search-faq {
background:url(../images/search-icon@2x.png) no-repeat left center;
background-size:23px 24px;
}

input.help {
background:url(../images/search-input-icon@2x.png) no-repeat 2% center;
background-size:23px 24px;
}

.soon {
background:url(../images/ribbon@2x.png) no-repeat right top;
background-size:157px 159px;
}
}

@media only screen and min-device-width320px and max-device-width480px{
.top-bottom-footer {
box-shadow:none;
}

.mid-container {
width:100%;
padding:0;
}

#landing-container {
width:102%;
}

body {
min-width:0;
}

img#vid {
width:950px;
}

#vidplaceholder {
width:100%;
}

.l-benefits > li {
padding-right:30px;
}

.l-logos > li {
padding-right:20px;
}

.col,.colr {
width:42%;
}
}

@media only screen and min-device-width320px and max-device-width480px and -webkit-min-device-pixel-ratio2{
#bg img {
margin-top:80px;
margin-bottom:0;
}
}