<html>
<head>
<script src="http://www.java.com/js/deployJava.js"></script>
</head>

<body>
<!-- <center><script>
    var attributes = {code:'ReactorEE.simulator.GameInit.class',
                      archive:'down/NPPS13.jar',
                      width:1040, height:709} ;
    var parameters = {fontSize:16} ;
    var version = '1.7' ;
    deployJava.runApplet(attributes, parameters, version);
</script></center> -->
<center>
  <applet code="ReactorEE.simulator.GameInit.class" archive="NPPS13.jar"
   width="1040" height="709"></applet>
 </center>
</body></html>
